/* GLOBAL SETTINGS
============================= */
body {
  color: #696969;
  text-align: justify;
  font-family: "Avenir Next", Avenir, "Hiragino Sans GB", "Microsoft JhengHei", "Heiti SC", SimHei, sans-serif;
}
/* === GLOBAL === */
.text-serif {
  font-family: Georgia, "Times New Roman", STSong, PMingLiU, NSimSun, SimSun, serif;
}
.site-title {
  margin: 30px auto;
  color: #696969;
}
.text-light {
  color: #ffffff;
}
.lead {
  font-weight: 400;
}
/* Full page background image */
body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}
.full {
  background: url(../img/14066596634_ff1cd42988_k.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}
.footer-link,
.footer-link a {
  color: #ffffff;
}
.footer-link a {
  text-decoration: underline;
}
.footer-link a:hover {
  color: #c0c0c0;
}
