$font-stack: 'Crimson Text', 'Noto Serif SC', serif;
$base-body-font-family: 'Crimson Text', 'Noto Serif SC', serif;
$base-heading-font-family: 'Crimson Text', 'Noto Serif SC', serif;
$navbar-nav-font-family: 'IBM Plex Mono', monospace;

$colors: (
  'green': #448AFF, // 136 North Miracle via webgradients .com
  'purple': #FF4081,
  'black': #333,
);

body {
  font: 1em/1.5 $font-stack;
}

img[data-src][src*='data:image'] {
  background: rgba(0,0,0,0.04);
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-weight: bold;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
  font-family: $navbar-nav-font-family;
}

.tm-container {
  max-width: 1032px;
}

.site-name {
  font-size: 0.875em;
  margin: 0;
  font-family: $navbar-nav-font-family;
  line-height: 1.5;
  background-color: #448AFF;
  background-image: linear-gradient(120deg, #448AFF 0%, #FF4081 100%);
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
}

.hero {
  font-family: $font-stack;
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 16vh
}

.uk-slider-container {
  margin: auto -1px;
  padding: 1px;
  @media only screen and (max-width: 959px) {
    margin: auto -30px;
    padding: 1px 30px;
  }
  @media only screen and (max-width: 639px) {
    margin: auto -15px;
    padding: 1px 15px;
  }
}

.thumb {
  display: block;
  border-radius: 1px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.40);
  background: rgba(0,0,0,0.04);
}

.tm-responsive-gutter-width {
  margin-left: -24px;
}

.tm-responsive-gutter-width > * {
  padding-left: 24px;
}

.tm-footer {
  font-family: $navbar-nav-font-family;
  font-size: 0.8125em;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

// dark mode with MacOS Mojave
@media (prefers-color-scheme: dark) {
  body {
    color: rgba(255,255,255,0.80);
    background-color: #212121;
  }
  
  .project-title {
    color: rgba(255,255,255,0.80);
  }
}

// responsive gutter
@media only screen and (max-width: 959px) {
  .tm-responsive-gutter-width {
    margin-left: -16px;
  }

  .tm-responsive-gutter-width > * {
    padding-left: 16px;
  }
}

@media only screen and (max-width: 639px) {
  .tm-responsive-gutter-width {
    margin-left: -8px;
  }

  .tm-responsive-gutter-width > * {
    padding-left: 8px;
  }

  .uk-navbar-nav > li > a {
    padding: 0 8px;
  }

  .hero {
    font-size: 1.125em;
  }

  .project-title {
    font-size: 1.125em;
  }

  .project-description {
    font-size: 0.875em;
  }

  .tm-avatar {
    width: 72px;
    height: 72px;
  }

}
