body {
  font: 0.875em/1.5 "Avenir Next", Avenir, sans-serif; }

img[data-src][src*='data:image'] {
  background: rgba(0, 0, 0, 0.04); }

.tm-container {
  max-width: 1032px; }

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir Next", Avenir, sans-serif;
  font-weight: bold; }

.site-name {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Avenir Next", Avenir, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0; }

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
  font-family: "Avenir Next", Avenir, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875em; }

.tm-heading-hero {
  font-size: 2.285em;
  font-style: italic; }

.gradient-text {
  background: -webkit-linear-gradient(330deg, #448AFF 0%, #FF4081 100%);
  background: linear-gradient(120deg, #448AFF 0%, #FF4081 100%);
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent; }

.uk-slider-container {
  margin: auto -1px;
  padding: 1px; }
  @media only screen and (max-width: 959px) {
    .uk-slider-container {
      margin: auto -30px;
      padding: 1px 30px; } }
  @media only screen and (max-width: 639px) {
    .uk-slider-container {
      margin: auto -15px;
      padding: 1px 15px; } }

.thumb {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 1px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  display: block;
  height: auto;
  width: 100%; }

.project-title {
  font-size: 1em; }

.project-description {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4); }

.tm-responsive-gutter-width {
  margin-left: -24px; }

.tm-responsive-gutter-width > * {
  padding-left: 24px; }

.tm-footer {
  font-size: 0.875em; }

.underline--magical {
  background-image: -webkit-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in; }
  .underline--magical:hover {
    background-size: 100% 88%; }

@media (prefers-color-scheme: dark) {
  body {
    color: rgba(255, 255, 255, 0.8);
    background-color: #212121; }
  .project-title {
    color: rgba(255, 255, 255, 0.8); } }

@media only screen and (max-width: 959px) {
  .tm-responsive-gutter-width {
    margin-left: -16px; }
  .tm-responsive-gutter-width > * {
    padding-left: 16px; }
  .tm-heading-hero {
    font-size: 2em; } }

@media only screen and (max-width: 639px) {
  .tm-responsive-gutter-width {
    margin-left: -8px; }
  .tm-responsive-gutter-width > * {
    padding-left: 8px; }
  .uk-navbar-nav > li > a {
    padding: 0 8px; }
  .tm-heading-hero {
    font-size: 1.42857em; } }
