$font-sans-serif: 'Avenir Next', Avenir, sans-serif;
$font-monospace: 'IBM Plex Mono', monospace;

$text-color-primary-dark: rgba(0,0,0,0.8);
$text-color-secondary-dark: rgba(0,0,0,0.4);

$text-color-primary-light: rgba(255,255,255,0.8);
$text-color-secondary-light: rgba(255,255,255,0.4);

// $color-accent: #007FFF;
// $color-accent: #0098C0;
$color-accent: #212121;

$primary-color: #e50914;
$dark-color: #141414;
$light-color: #f4f4f4;

::selection { 
  background: $color-accent;
}

body {
  color: $text-color-primary-dark;
  font: 1em/1.6 $font-sans-serif;
}

header {
  position: relative;
  z-index: 1;
  background: #fff;
}

main {
  background: #fff;
  margin-bottom: 100vh;
  position: relative;
  z-index: 1;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

footer {
  background-color: $color-accent;
}

img[data-src][src*='data:image'] {
  background: rgba(0,0,0,0.04);
}

cite {
  font-style: normal;
}

ul {
  padding-left: 0;
}

.uk-text-lead {
  font-family: $font-monospace;
  font-size: 4em;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  font-weight: bold;
}

.site-name {
  font-family: $font-sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

.footnote {
  font-size: 0.75rem;
  font-weight: normal;
  vertical-align: super;
}

.footnotes {
  font-size: 0.875em;
}

.profile-list {
  font-size: 14px;
  list-style: none;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
  font-family: $font-sans-serif;
  color: rgba(0,0,0,0.8);
  font-size: 1em;
}

.tm-heading-hero {
  font-size: 16px;
}

.uk-text-large {
  font-size: 20px;
}

.uk-light, .uk-section-primary:not(.uk-preserve-color) {
  color: rgba(255,255,255,0.80);
}

.uk-section-primary {
  background-color: $color-accent;
}

.uk-divider-small::after {
  width: 1em;  
}

.thumb {
  background: rgba(0,0,0,0.04);
  border-radius: 1px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.40);
  display: block;
  height: auto;
  width: 100%;
}

.project-title {
  font-size: 1em;
}

.project-description {
  font-size: 1em;
  color: rgba(0,0,0,0.40);
}

.tm-responsive-gutter-width {
  margin-left: -24px;
}

.tm-responsive-gutter-width > * {
  padding-left: 24px;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.uk-margin-small-top {
  margin-top: 16px !important;
}


// RESPONSIVE
@media only screen and (max-width: 959px) {
  .tm-responsive-gutter-width {
    margin-left: -16px;
  }

  .tm-responsive-gutter-width > * {
    padding-left: 16px;
  }
  
  .uk-text-lead {
    font-size: 3em;
  }
  
}

@media only screen and (max-width: 639px) {
  .avatar {
    width: 64px;
    height: auto;
  }

  .uk-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .tm-responsive-gutter-width {
    margin-left: -8px;
  }

  .tm-responsive-gutter-width > * {
    padding-left: 8px;
  }

  .uk-navbar-nav > li > a {
    padding: 0 8px;
  }

  .tm-heading-hero {
    font-size: 1.42857em;
  }
  
  .uk-text-lead {
    font-size: 2em;
  }

}
